.form__fieldset {
  width: 358px;
  margin-top: 54px;
}

.form__fieldset-profile-info {
  border: 0;
  padding: 0;
}

.form__fieldset-nuevo-lugar {
  border: 0;
  padding: 0;
}

.form__popup-input {
  height: 28px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Inter Regular", "Arial", sans-serif;
  padding-bottom: 13px;
}

.form__button {
  margin-top: 18px;
  width: 100%;
  min-height: 51px;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
  color: #fff;

  font-family: "Inter Regular", "Arial", sans-serif;
  font-size: 18px;
}

.form__button:hover {
  opacity: 80%;
}

.form__button:disabled {
  background-color: #fff;
  border: 2px solid #c4c4c4;
  color: #c4c4c4;
  cursor: not-allowed;
  opacity: 1;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__error_visible {
  color: #ff0000;
  font-family: "Inter Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  display: none;
  margin: 0;
  padding: 0;
  max-height: 0px;
}

@media (max-width: 700px) {
  .form__fieldset {
    width: auto;
  }
}
